*{
    margin: 0;
}
:root{
    --color-primario: black;
    --proyectosfondo:  rgba(241, 181, 70, 0.623);
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url("../Imagenes/cajafuerte.jpg");
    background-size: 30%;
    background-attachment: fixed;
}
#particles-js{
    width: 100%;
    height: 100vh;
  
    position: fixed;
}
.contenedorprincipal{
    position: relative;
   
    width: 100%;
    height: auto;
}
.contenedor{
    position: relative;
    width: 70%;
    margin: auto;
    background-color: black;
    height: auto;
    display: grid;
    grid-template-areas: "d1"
                        "d2"
                        "d3";
}
.d1{
    grid-area: d1;
    height: 250px;
    width: 100%;
    background-color: white;
}
.d2{
    grid-area: d2;
    height: 250px;
    width: 100%;
    background-image: url("../Imagenes/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
   display: flex;
   justify-content: center;
    align-items: center;
    text-align: center;
}

.presentar{
  display: grid;
  grid-template-areas: "logo texto caricatura";
  grid-template-columns: 1fr 2fr 1fr;
    margin: auto;
    border: dashed  1px white;
    width: 90%;
    height: 70%;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
.logo{
    grid-area: logo;
    background-image: url("../Imagenes/completo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70%;
    height: 80%;
    margin: auto;
}
.text{
    color: white;
    font-size: 20px;
    font-family: cooper;
}
.texto{
    grid-area: texto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
    margin: auto;
    user-select: none;
}
.caricatura{
    grid-area: caricatura;
    background-image: url("../Imagenes/griffin.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 120%;
    height: 100%;
    margin: auto;
}
.d3{
    grid-area: d3;
    height: 250px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: cooper;
}
.d4{
    grid-area: d1;
    height: 250px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-areas: "e1"
                        "e2"
                        "e3";
    grid-template-rows: 0.5fr 0.5fr 1fr;
}
.nav{
    grid-area: e1;
    width: 100%;
    height: 100%;
    background-color: black;
    display:grid;
    grid-template-areas: "idioma espacio descargar contacto rep";
    grid-template-columns: 1fr 2.5fr 1fr 1fr 1fr;
}
.nav a{
    color: rgb(218, 218, 218); 
    text-decoration: none;
    font-size: 14px;
}
.nav a:hover{
    background-color: rgb(31, 30, 30);
}
.idioma{
    grid-area: idioma;
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-areas: "Español Ingles";
    grid-template-columns: 1fr 1fr;
}
.Español{
    grid-area: Español;
    background-image: url("../Imagenes/español.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60%;
    height: 36%;
    margin: auto auto;
}
.Ingles{
    grid-area: Ingles;
    background-image: url("../Imagenes/inglés.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60%;
    height: 36%;
    margin: auto auto;
}
.Descarga{
    grid-area: descargar;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.separar{
    grid-area: espacio;
    width: 100%;
    height: 100%;
}
.Contacto{
    grid-area: contacto;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.Repositorios{
    grid-area: rep;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bienvenida{
    grid-area: e2;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #d5f6ff9f;
    width: 50%;
    border-radius: 30px;
    margin: auto;
    height: 60%;
    font-family: cooper;
}
.mitad1{
    grid-area: e3;
    display: grid;
    grid-template-areas: "v1 logo1 v2";
    grid-template-columns: 1fr 1fr 1fr;
}
.mitad2{
    grid-area: mitad2;
    display: grid;
    grid-template-areas: "v3 logo2 v4";
    grid-template-columns: 1fr 1fr 1fr;
   
}
.logomitad2{
    grid-area: logo2;
    background-image: url("../Imagenes/mitad2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.logomitad{
    grid-area: logo1;
    background-image: url("../Imagenes/mitad1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.d5{
    grid-area: d2;
    height: 250px;
    width: 100%;
    background-color: black;
    position: sticky;
    top: 250px;
    bottom: 0px;
    display: grid;
    grid-template-areas: "mitad2"
                        "carousel"
                        ;
    grid-template-rows: 1fr 1fr;
}
.carruselcontent{
    grid-area: carousel;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.carruselcontent .container{
    min-width: 100px;
    min-height: 100px;
    width: 100%;
}

.carruselcontent .container .carousel{
    height: 125px;
    width: 100%;
}
.carruselcontent .carousel  .carousel-item{
    color: rgb(255, 255, 255);
    width: 90px;
    height: 90px;
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    
}
.contentvideo{
    width: 70%;
    margin: auto;
    height: 400px;
}
.carruselcontent .carousel .indicators .indicator-item{
    margin: 0 30px;
    width: 8px;
    height: 8px;
    top: 5px;
}
.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level{
    background: red;
}
.vjs-icon-placeholder{
    color: rgb(255, 5, 5);
    background-color: rgb(255, 0, 0);
}
.video{
    grid-area:video;
    margin: auto;
    width: 100%;
    height:  100%;
    border-radius: 10px;
    
}
footer{
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
  
   
}
.contentfooter{
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    font-family: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;  
    z-index: 99;
}
.arriba{
    position: fixed;
    background-image: url("../Imagenes/FLECHA.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    top: 80%;
    z-index: 19;
    margin-left: 88%;
    transition: all ease 4s;
}
.ocultar{
    display: none;
    transition: all ease 4s;
}
.contenedor2{
    width: 70%;
    height: auto;
    background-color: rgba(2, 1, 1, 0.191);
    margin: auto;
    z-index: 1;
    display: grid;
    grid-template-areas: "line1"
                        "line2"
                        "line3";
}
.line1{
    display: grid;
    grid-template-areas: "ps ps ps ps"
                        "p1 p2 p3 p4"
                        "b1 b2 b3 b4";
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-template-rows: 0.3fr 1fr 1fr;
background-color: rgba(0, 0, 0, 0.555);
}
.p1{
    grid-area: p1;
    width: 80%;
    height: 200px;
    margin: auto;
    border: 1px solid rgb(219, 132, 18);
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--proyectosfondo);
z-index: 19;
}
.p2{
    grid-area: p2;
    width: 80%;
    height: 200px;
    margin: auto;
    border: 1px solid rgb(219, 132, 18);
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--proyectosfondo);
    z-index: 19;
}
.p3{
    grid-area: p3;
    width: 80%;
    height: 200px;
    margin: auto;
    border: 1px solid rgb(219, 132, 18);
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--proyectosfondo);
    z-index: 19;
}
.p4{
    grid-area: p4;
    width: 80%;
    height: 200px;
    margin: auto;
    border: 1px solid rgb(219, 132, 18);
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--proyectosfondo);
    z-index: 19;
}
.b1{
    grid-area: b1;
    width: 100px;
    height: 200px;
    margin: auto;
    
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.b2{
    grid-area: b2;
    width: 100px;
    height: 200px;
    margin: auto;
   
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.b3{
    grid-area: b3;
    width: 100px;
    height: 200px;
    margin: auto;
   
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.b4{
    grid-area: b4;
    width: 100px;
    height: 200px;
    margin: auto;
    
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Proyectos{
    font-size: 20px;
    color: white;
    font-family: cooper;
    grid-area: ps;
    text-align: center;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
}
input[type="button"]{
    width: 100%;
    margin-bottom: 20px;
    border: 4px rgb(219, 132, 18) solid;
    height: 25%;
    background-color: rgba(219, 132, 18, 0.417);
    color:rgb(219, 132, 18);
    font-size: 12px;
    cursor: pointer;
    border-radius: 30px;
    font-family: cooper;
    z-index: 19;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.descripcion{
    width: 100%;
    height: 20%;
    background-color: rgb(219, 132, 18);
    font-size: 12px;
    color: white;
    font-family: cooper;
   user-select: none;
    text-align: center;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
}
.line1 img{
    width: 100%;
    height: 60%;
    z-index: 19;
}
.line2{
    width: 100%;
    height: 500px;
}
.line3{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.otrosproyectos{
    width: 70%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
.otrosproyectos input[type="button"]{
    width: 70%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 10px;
}
.contactodiv{
position: fixed;
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    height: 200px;
    backdrop-filter: blur(10px);
    z-index: 20;
    border-radius: 20px;
    border: #d5f6ff9f solid 2px;
    transition: 300ms all ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: white;
    user-select: none;
}
.Contactoocultar{
    display: none;
    width: 10%;
    height: 10px;
    
}
.wss, .tl, .ins{
    color: steelblue;
    font-size: 19px;
    font-family: cooper;
}
.contactodiv a{
    color: white;
    user-select: none;
}
.cerrar{
    background-color: rgba(241, 36, 0, 0.308);
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px red dashed;
}
.cerrar:hover{
    background-color: rgba(255, 0, 0, 0.589);
}