.bandos,  
  header, footer{
    background-color: rgb(233, 229, 229);
}
body{
    background-color: #0b1728fb;
    width: 100%;
    margin: auto;
}
.contenedor{
    display: grid;
    grid-template-areas: "header header header header "
                        "bandos bandos bandos bandos "
                        "submenu contenido aside aside "
                        "submenu contenido aside aside"
                        " widget1 widget1  widget2 widget2"
                        "footer footer footer footer ";
grid-gap: 20px;
grid-template-columns: repeat(4);
grid-template-rows: repeat(6);
grid-template-rows: minmax(500px, 500px) minmax(150px, 150px) minmax(200px, 200px) auto auto minmax(30px, 30px) ;
grid-template-columns: 0.5fr 1.5fr 1fr 1fr ;
width: 90%;
margin: auto;
}
.bandos{
    grid-area: bandos;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
   height: 150px;
    border-radius: 10px;
    border: white 1px solid;
    width: 90%;
    margin: auto;
    background-image: url("https://imageshack.com/i/poB4TKYxp");
    background-size: 100% 100%;
    box-shadow: #ffffff49 5px 5px ;
    
}
.tarjeta1{
    background-image: url("https://imageshack.com/i/pngNQKh5p");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 320px;
    height: 400px;
}
.tarjeta2{
    background-image: url("https://imagizer.imageshack.com/img924/1287/qfDu0g.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 320px;
    height: 400px;
}
aside{
    grid-area: aside;
    text-align: center;
    display: grid;
    grid-template-areas: "asidecontent"
                        "asidecontent2";
    
}
.widget1{
    grid-area: widget1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.widget2{
    grid-area: widget2;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.widget3{
    grid-area: widget3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contenido{
    grid-area: contenido;
    
}
.texto2{
    background-image: url("https://imagizer.imageshack.com/img924/8452/EMzULi.png");
    margin: auto;
    width: 400px;
    height: 200px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.texto{
    margin: auto;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    color: #ffcc00ff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    grid-area: header;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contenedor .submenu{
    grid-area: submenu;
    background-color:none;
    width: 200px;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: "tienda"
                        "creacion"
                        "ropa"
                        "armas";
    margin: auto;
    grid-template-rows: 35px 35px 35px 35px;
}
.submenu{
    position: sticky;
    top: 20px;
}
footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 30px;
    padding: 5px;
    background-color: #d7e3f4ff;
    color: #5599ffff;
}
.menus{
    position: sticky;
    top: 30px;
    background-color: orangered;
}
.asidecontent{
    margin: auto;
    grid-area: asidecontent;
    background-image: url("https://imagizer.imageshack.com/img924/6256/cr8ISz.png");
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
}
.asidecontent2{
    margin: auto;
    grid-area: asidecontent2;
    background-image: url("https://imagizer.imageshack.com/img924/400/vVuBj3.png");
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
}
.tienda{
    grid-area:tienda;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px black solid;
    background-color: #7f2affcc;
}
.creacion{
    grid-area:creacion;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px black solid;
    background-color: #7f2affcc;
}
.ropa{
    grid-area:ropa;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px black solid;
    background-color: #7f2affcc;
}
.armas{
    grid-area:armas;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px black solid;
    background-color: #7f2affcc;
    font-family: arial bold;
}
