@media screen and (max-width:800px){
    *{
        margin: 0;
    }
    .Contenedor{
        width: 100%;
        display: grid;
        grid-template-areas:"header Logo" 
                            "elegir elegir"
                            "soli soli";
        grid-template-columns: 1fr 0.5fr;
        
        height: auto;
        margin: auto;
    }
    header{
        grid-area: header;
        width: 116%;
        height: 100%;
       background-color: #0b2128ff;
        margin: auto;
        display: grid;
        grid-template-areas:"gobierno"
                            "estrellas"
                            "banner"
                            "menu" ;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 0.5fr 4fr 0.5fr;
    }
   
    .elegir{
        grid-area: elegir;
       background-image: url("https://imagizer.imageshack.com/img924/4765/9X9Jsd.png");
        background-size: 100% 100%;
        width: 90%;
        height: 200px;
        backface-visibility: hidden;
        display: grid;
        grid-template-areas:"empresarial personal";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
    }
    .soli{
        grid-area: soli;
       background-image: url("https://imagizer.imageshack.com/img923/2760/Cw1zOY.png");
        background-size: 100% 100%;
        width: 90%;
        height: 200px;
        backface-visibility: hidden;
    }
    .empresarial{
        grid-area: empresarial;
       background-image: url("https://imagizer.imageshack.com/img923/6232/QBYaYe.png");
        background-size: 100% 100%;
        width: 50%;
        height: 60%;
        margin-bottom: -10%;
        z-index: 3;
        margin:auto;
        border-radius: 15px;
        border: 2px black solid;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
       
    }
    .empre{
        margin-top: 60%;
        font-family: Cooper ;
        background-color: black;
        color: white;
        width: 60%;
        height: 30px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 10px;
    }
    .pers{
        margin-top: 60%; 
        font-family: Cooper ;
        background-color: black;
        color: white;
        width: 60%;
        height: 30px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 10px;
    }
    .empre:hover{
        margin-top: 60%;
        font-family: Cooper ;
        background-color: rgb(48, 44, 44);
        color: white;
        width: 60%;
        height: 30px;
    }
    .pers:hover{
        margin-top: 60%; 
        font-family: Cooper ;
        background-color: rgb(48, 44, 44);
        color: white;
        width: 60%;
        height: 30px;
    }
    .personal{
        grid-area: personal;
       background-image: url("https://imagizer.imageshack.com/img924/5687/2ujc5a.png");
        background-size: 100% 100%;
        width: 50%;
        height: 60%;
        margin-bottom: -10%;
        z-index: 3;
        margin:auto;
        border-radius: 15px;
        border: 2px black solid;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
     
    }
    .Logo{
        grid-area: Logo;
       background-image: url("https://imagizer.imageshack.com/img923/5866/RHDf5I.png");
        background-size: 100% 100%;
        width: 100%;
        height: 250px;
        margin-bottom: -10%;
        z-index: 3;
    }
    .banner{
        background-image: url("https://imagizer.imageshack.com/img922/6496/TPZOGD.png");
        background-size: 100% 100%;
    }
    .gobierno{
        background-image: url("https://imagizer.imageshack.com/img922/371/YBOsCS.png");
        background-size: 100% 100%; 
    }
    nav{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: "apertura cripto cajafuerte";
        grid-template-columns: 1fr 1fr 1fr;
    }
    .apertura{
        grid-area:apertura;
        color: white;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        user-select: none;
        cursor: pointer;
    }
    .star{
        background-image: url("https://imagizer.imageshack.com/img923/9037/q2NmGe.png");
        background-size: 100% 100%; 
        background-repeat: no-repeat;
        width: 120px;
        height: 40%;
        margin: auto;
        margin-top: 5px;
    }
    .cripto{
        grid-area: cripto;
        color: white;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        user-select: none;
        cursor: pointer;
    }
    .cajafuerte{
        grid-area: cajafuerte;
        color: white;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        user-select: none;
        cursor: pointer;
    }
    .apertura:hover{
        background-color: rgb(18, 51, 61);
    }
    .cripto:hover{
        background-color: rgb(18, 51, 61);
    }
    .cajafuerte:hover{
        
        background-color: rgb(18, 51, 61);
        
    }
}